*.aux
*.fdb_latexmk
*.fls
*.gz
*.gz
*.log
*.nav
*.out
*.snm
*.syntex.gz
*.toc
*.bcf
*.blg
*.xml
rd8.*

.DS_Store
Global Sol Frac Spde SuperLin Coef/.DS_Store
.DS_Store
.DS_Store~a1e48536b4d316ac7fc36c2ac4ddf4376fde96db
.DS_Store
Reviewing_report_SPDE/work.pdf
